@import '@/assets/styles/variables.scss';

.albums {
    width: 100%;
    overflow-x: hidden;

    &__title {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__list {
        overflow-x: scroll;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding-bottom: 15px;

        &::-webkit-scrollbar {
            width: 10px;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: $main-radius;
            background-color: #e7e7e7;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: $main-radius;
            background-color: $light-purple;
            cursor: pointer;
        }
    }

    &__album {
        width: 200px;
        height: auto;
    }
}
