@import '@/assets/styles/variables.scss';

.header {
    height: 60px;
    width: calc(100% - 40px);
    background-color: $light-purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &__title {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &__profile-container {
        display: flex;
        align-items: center;
    }

    &__authButton {
        padding: 3px 16px;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: $light-purple;
        cursor: pointer;
        border-radius: $main-radius;
        border: none;
        transition: .3s;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.55) 4px 5px 8px;
        }
    }

    img {
        border-radius: 100px;
        margin-left: 20px;
    }
}
